<div class="container z-depth-1 p-5 my-5">

    <!-- Section: Block Content -->
    <section>

        <% if(prods.length >0) { %>
        <!-- Shopping Cart table -->
        <div class="table-responsive">
            <table class="table product-table table-cart-v-1">
                <!-- Table head -->
                <thead>
                    <tr>
                        <th></th>
                        <th class="font-weight-bold">
                            <strong>Product</strong>
                        </th>

                        <th></th>
                        <th class="font-weight-bold">
                            <strong>Price</strong>
                        </th>
                        <th class="font-weight-bold">
                            <strong>QTY</strong>
                        </th>
                        <th class="font-weight-bold">
                            <strong>Amount</strong>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <!-- Table head -->
                <!-- Table body -->
                <tbody>
                    <% prods.forEach(product=>{ %>
                    <!-- First row -->

                    <tr>
                        <th scope="row">
                            <img src="<%= product.imageUrl %>" alt="<%= product.title %>" class="img-fluid z-depth-0">
                        </th>
                        <td>
                            <h5 class="mt-3">
                                <strong><%= product.title %></strong>
                            </h5>
                        <td>
                            <strong>
                                <%= product.price %>
                            </strong>
                        </td>
                        </td>

                        <td></td>
                        <td><strong>
                                <%= product.quantity %>
                            </strong></td>
                        <td class="font-weight-bold">
                            <strong><%= (product.price * product.quantity) %></strong>
                        </td>
                        <td>
                            <form action="/delete-cart-item" method="POST">
                                <input type="hidden" name="productId" value="<%= product._id %>">
                                <button type="submit" class="btn btn-sm btn-danger data-toggle=" tooltip"
                                    data-placement="top" title="Remove item">X
                                </button>
                            </form>

                        </td>
                    </tr>
                    <!-- First row -->
                    <% }) %>

                    <!-- Second row -->
                    <tr>
                        <td colspan=" 3">
                        </td>


                        <td colspan="7" class="text-right">
                            <button type="button" class="btn btn-primary btn-rounded px-4">Order Now
                                <i class="fas fa-angle-right right"></i>
                            </button>
                        </td>
                    </tr>
                    <!-- Second row -->
                </tbody>
                <!-- Table body -->
            </table>
        </div>
        <!-- Shopping Cart table -->
        <% }else{%>
        <h1 class="display-4 text-center my-5 ">Nothing Here</h1>
        <% } %>

    </section>
    <!-- Section: Block Content -->

</div>