<main>
    <div class="container">
        <div class="container my-5">

            <div class="container my-5 py-5">


                <!--Section: Content-->
                <section class="text-center">


                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <% prods.forEach(product=>{%>


                        <div class="col-lg-4 col-md-6 mb-4">

                            <a href="" class="waves-effect waves-light"><img src="<%=product.imageUrl  %>"
                                    class="img-fluid" alt=""></a>

                            <p class="mb-1"><a href="" class="font-weight-bold black-text"><%=product.title%></a></p>

                            <p class="mb-1"><small class="mr-1"><s></s></small><strong><%=product.price%></strong>
                            </p>
                            <p>
                                <%=product.description%>
                            </p>


                            <a href="/products/<%=product._id  %> "
                                class="btn btn-outline-black btn-rounded btn-sm px-3 waves-effect">Details</a>

                            <button type="button" class="btn btn-black btn-rounded btn-sm px-3">Add to card</button>


                        </div>
                        <!--Grid column-->


                        <% }); %>
                    </div>
                    <!--Grid row-->

                </section>
                <!--Section: Content-->


            </div>
        </div>
</main>